@import '../../_config.scss';

.navflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
}

#logo {
    padding: 10px 20px;
    font-size: 30px;
    z-index: 1;
}

img {
    width: 25px;
    padding-top: 5px;
    padding-left: 5px;
}

.header-item {
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

.nav-link-desktop {
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;
    cursor: pointer;
}

.hamburger-btn {
    padding: 0px 20px;
    width: 40px;
    height: 40px;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5 ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.hamburger-patty {
    width: 30px;
    height: 3px;
    background-color: $mediumbluetheme;
    transition: all .5 ease-in-out;
    cursor: pointer;
}

.hamburger-patty::before,
.hamburger-patty::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px; 
    background-color: $mediumbluetheme;
}

.hamburger-patty::before {
    transform: translateY(10px);
}

.hamburger-patty::after {
    transform: translateY(-10px);
}

.hamburger-btn.open .hamburger-patty {
    transform: translateX(-50px);
    background: transparent;
}

.hamburger-btn.open .hamburger-patty::before {
    transform: rotate(-45deg) translate(35px, 35px)
}

.hamburger-btn.open .hamburger-patty::after {
    transform: rotate(45deg) translate(35px, -35px)
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    height: 0px;
    overflow: hidden;
}

.dropdown-menu.show {
    display: flex;
    visibility: visible;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 240px;
}

.nav-link {
    color: $mediumbluetheme;
    font-family: $montserrat;
    font-size: 25px;
    text-shadow: none;
}

.nav-link:hover {
    color: #aa7d00;
}

@media(hover: hover) and (pointer: fine) {
    .navflex {
        justify-content: flex-start;
        align-items: center;
    }

    img {
        width: 35px;
        padding-top: 15px;
        padding-left: 15px;
    }
    
    .nav-link-desktop {
        visibility: visible;
        width: 175px;
        text-align: center;
        height: 100%;
        font-family: $montserrat;
        font-size: 22px;
        font-weight: lighter;
        color: $mediumbluetheme;
        padding-top: 15px;
    }

    .nav-link-desktop:hover {
        color: #aa7d00;
    }

    .hamburger-btn {
        visibility: hidden;
        cursor: default;
    }
    .dropdown-menu.show {
        visibility: hidden;
        height: 0px;
    }
}


