@import '../../_config.scss';

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: $gold;
}

.add-project {
    width: 200px;
    height: 50px;
    border-radius: 30px;
}

li {
    list-style-type: none;
}