@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');

$montserrat: 'Montserrat', sans-serif;
$dots: 'Codystar', cursive;
$narrow: 'BenchNine', sans-serif;

$color-particle: #00a2ff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;
